.venv/

# Python cache
__pycache__/
*.py[cod]

src/github_actions_api_project/__pycache__/

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
.git
.github

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Coverage
coverage*
.coverage
htmlcov/

# Environment variables / secrets
.env
.env.*

# IDE
.vscode/
.idea/

# OS files
.DS_Store